.top-container {
    display: flex;
    flex: 1;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
    height:3em;
    flex-wrap: wrap;
    background-color: rgba(253,224,62,255);
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    font:999;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: rgba(155,148,164,255)
}



.arclight-velkoz{
    display: flex;
    flex: 1;
    /* height:100%; */
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    position: relative;
    /* border: 2px solid green */
}

img{
    /* height:100vh; */
    /* margin-right: auto; */
    width: 100%;
}
